h1{
  font-size:40px;
    color: white;
    text-align:center;
}
h2{
  font-size:27px;
    color: white;
    text-align:center;  
}
body{
  background-color: purple;
  background-image:url("https://textinmotion.tv/media/backgrounds/000/000/433/background/full/QuizText-BG.jpg");
  background-position:center;
}
#form {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-left: 400px;
  padding-right: 300px;
}
* {
  font-family: Arial,Times New Roman, serif;
}

